.gallery_box {
  padding: 30px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
}
.gallery_box img {
  max-width: 350px;
  padding: 10px;
  height: -webkit-fill-available;
  cursor: pointer;
  transition: 0.2s ease;
}
.gallery_box img:hover {
  transform: scale(1.2);
}

.gallery_box .viewPic {
  background: #383737b4;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.desc {
  padding: 70px 0 0;
  color: #ccc;
  text-align: center;
}

.desc p {
  text-transform: capitalize;
  font-size: 22px;
  padding: 20px;
}

@media (max-width: 1100px) {
  .gallery_box {
    justify-content: space-around;
  }
  .gallery_box img {
    max-width: 400px;
  }
  .desc p {
    font-size: 18px;
    max-width: 500px;
    margin: auto;
  }
}

@media (max-width: 400px) {
  .gallery_box img {
    max-width: 100%;
  }
}
