.notFoundPage {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
}

.notFoundPage img {
  max-width: 60%;
}

.notFoundPage h2 {
  text-transform: uppercase;
  color: #ccc;
  letter-spacing: 1px;
  padding: 10px 0;
}

.notFoundPage a {
  background: #dba507;
  padding: 10px 30px;
  border-radius: 20px;
  text-decoration: none;
  color: #000;
  border: 2px solid transparent;
  transition: 0.2s linear;
}

.notFoundPage a:hover {
  background: none;
  border-color: #dba507;
  color: #ccc;
}
